<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pets Form 1</title>

        <style>
            .err {
                color: red;
            }
        </style>
    </head>

    <body>
        <form method="post" action="#">
            <label>
                Animal
                <input type="text" name="animal">
            </label>

            <input type="submit" value="Next">
            <check if="{{ isset(@errors['animal']) }}">
                <p class="err">{{ @errors['animal'] }}</p>
            </check>
        </form>
    </body>
</html>